<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>{* productName *}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            margin-top: 1px; /*上边距*/
            margin-bottom: 1px; /*下边距*/
        }
    </style>
</head>
<body>
<p><b>商品名称:<em>【{* productName *}】</em></b></p>
<p><b>商品id:<em>【{* productId *}】</em></b></p>
<p><b>商品名称:<em>【{* productName *}】</em></b></p>
<p><b>商品售后服务:<em>【{* productService *}】</em></b></p>
<div>商品颜色:<em>【{* productColor *}】</em></div>
<div>商品大小:<em>【{* productSize *}】</em></div>
<div>店铺id:<em>【{* shopId *}】</em></div>
<div>店铺名称:<em>【{* shopName *}】</em></div>
<div>店铺等级:<em>【{* shopLevel *}】</em></div>
<div>店铺好评率:<em>【{* shopGoodCommentRate *}】</em></div>
</body>
</html>
